<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Pokemon</title>
    <script src="https://code.jquery.com/jquery-3.5.0.min.js"
        integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
    <script src="/app.js"></script>
    <link rel="stylesheet" type="text/css" href="/main.css" />
</head>

<body>
    <h1 class="greet">Welcome to the Pokemon App!</h1>
    <h3><a href="http://localhost:3000/pokemon">See all pokemons</a></h3>
    <img class="pika">
</body>

</html>